<h4>Doctor <%= @doctor.name %></h4>
<hr>

<% @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.patient.name, patient_path(appointment.patient) %>&nbsp;<%= appointment.appointment_datetime.strftime("%B %d, %Y at %R") %>
<% end %>
